# ~/.vim/UltiSnips/go.snippets

snippet /* "Comment block" b
/* ######################################################################
# File Name: `!v expand("%")`
# Author: `!v $ultisnips_author_name`
# Main: `!v $ultisnips_author_email`
# Created Time: `!v strftime("%Y-%m-%d %H:%M:%S")`
####################################################################### */

endsnippet
# vim:ft=snippets:
